.container {
  width: 1109px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container__logo {
  width: 90.132px;
  height: 19.344px;
  fill: #111;
}
.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
.container__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 21px;
  text-underline-position: none;
  font-weight: 700;
}

.title {
  width: 1109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title__small {
  color: #4A4FF2;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.423px;
  margin-top: 100px;
}
.title__prgh {
  width: 635px;
  height: 191px;
  color: #111;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 150% */
  margin-top: -32px;
}
.title__blue {
  color: #4A4FF2;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.title__line {
  width: 30px;
  height: 2px;
  opacity: 0.5;
  background: #111;
}
.title__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.title__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.title__line {
  margin-left: 1px;
}

.image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  height: 1960px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
}
.image__container__four {
  margin-top: -170px;
}
.image__container__five {
  margin-top: -233px;
}
.image__container__six {
  margin-top: 15px;
}
.image__container__sev {
  margin-top: -110px;
}
.image__container__eight {
  margin-top: -230px;
}
.image__container__ten {
  margin-top: -170px;
}
.image__container__elv {
  margin-top: -230px;
}

img {
  margin-top: 20px;
}

.container__txt {
  width: 1079px;
  height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.container__txt__prgh {
  width: 635px;
  height: 106px;
  color: #111;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 135.714% */
  margin-top: 91px;
}
.container__txt__sec__nav {
  width: 444px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.container__txt__secul {
  list-style: none;
  margin-top: 99px;
}

.awards {
  width: 1110px;
  height: 823px;
  margin-top: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.awards__title {
  color: #111;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.awards__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 409px;
  width: 1110px;
}
.awards__secclmn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 409px;
  width: 1110px;
}
.awards__prgh {
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 190px;
}
.awards__smallT {
  height: 409px;
}
.awards__year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 409px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.awards__secyear {
  margin-top: 125px;
}

.line {
  margin-top: -320px;
  max-width: 100%;
  height: 2px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Mulish", sans-serif;
  padding: 100px;
}